*{
	font-family: Tahoma, Arial, sans-serif;
}
form{
	width: 400px;
	height: 600px;

	border: solid 3px black;
	margin: auto;
}
.form-group{
	margin: 10px 0 10px 0;
	font-size: 12px;
}

.form-group  > label {
	display: block;
	font-size: 12px;
	font-family: Tahoma, Arial, sans-serif;
	line-height: 12px;
}